<h2>Übersicht und Absenden</h2>

    <form class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label">Vorname</label>
                <div class="controls"><%= vorname %><span/></div>
            </div>
            <div class="control-group">
                <label class="control-label">Nachname</label>
                <div class="controls"><%= nachname %><span/></div>
            </div>
            <div class="control-group">
                <label class="control-label">Geburtsdatum</label>
                <div class="controls"><%= geburtsdatum %><span/></div>
            </div>
            <div class="control-group">
                <label class="control-label">Kreditkartennummer</label>
                <div class="controls"><%= kreditkartennummer %><span/></div>
            </div>
        </fieldset>
        <fieldset>
            <div class="control-group">
                <label class="control-label">Land</label>
                <div class="controls"><%= land %><span/></div>
            </div>
            <div class="control-group">
                <label class="control-label">Adresse</label>
                <div class="controls"><%= adresse %><span/></div>
            </div>
            <div class="control-group">
                <label class="control-label">PLZ</label>
                <div class="controls"><%= plz %><span/></div>
            </div>
            <div class="control-group">
                <label class="control-label">Ort</label>
                <div class="controls"><%= ort %><span/></div>
            </div>
        </fieldset>
        <fieldset>
            <div class="control-group">
                <label class="control-label">Datenschutzzustimmung</label>
                <div class="controls"><input type="checkbox"></div>
            </div>
        </fieldset>
        <button type="submit" class="btn">zurück</button>
        <button type="submit" class="btn">ende</button>
    </form>